# Environments
env/
venv/

#bigdata
Imgdata/

.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/
outputs/checkpoints/
outputs/error_analysis
*.pt
*.pth
*.h5
*.hdf5
*.svs
*.tif
*.tiff
*.ndpi
*.mrxs

.DS_Store
.env